<div class="h-100 cn">
  <div class="c">
    <h1 class="title">JOB POSTING</h1>

    <div class="Iholder" *ngIf="isRegistrationPhase">
      <p>Username</p>
      <input type="text" [(ngModel)]="name" placeholder="Enter your Username" />
    </div>

    <div class="Iholder D">
      <p>Email</p>
      <input type="email" [(ngModel)]="email" placeholder="Enter your email" />
    </div>

    <div class="Iholder D">
      <p>Password</p>
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Enter your Password"
      />
    </div>

    <div class="Iholder" *ngIf="isRegistrationPhase">
      <p>Skills</p>
      <input type="text" [(ngModel)]="skills" placeholder="Enter your Skills" />
    </div>

    <button class="b" *ngIf="isRegistrationPhase" (click)="register()">
      REGISTER
    </button>
    <button class="b" *ngIf="!isRegistrationPhase" (click)="login()">
      LOGIN
    </button>

    <p class="mt-4 text-center" *ngIf="isRegistrationPhase">
      Already a user ?<span
        class="ml-2 hover:text-blue-500 hover:underline hover:cursor-pointer"
        (click)="toggleRegistrationPhase()"
        >Login</span
      >
    </p>
    <p class="mt-4 text-center" *ngIf="!isRegistrationPhase">
      New Here ?<span
        class="ml-2 hover:text-amber-500 hover:underline hover:cursor-pointer"
        (click)="toggleRegistrationPhase()"
        >Register</span
      >
    </p>

    <p class="relative top-1 right-0 text-right text-[0.6rem]">&#64;UKG Inc</p>
  </div>
</div>
