<div class="max-w-7xl mx-auto mt-8">
  <h2 class="text-2xl font-semibold mb-4">Candidates List</h2>

  <table class="w-full table-auto">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2">S.No</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Username</th>
        <th class="px-4 py-2">Active Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let candidate of candidates"> -->
      <tr>
        <td class="border px-4 py-2 w-[5%]">{{ " 1. " }}</td>
        <td class="border px-4 py-2">{{ " Pavan " }}</td>
        <td class="border px-4 py-2">{{ " Pavan1211 " }}</td>
        <td class="border px-4 py-2">
          <div class="bg-emerald-100 w-fit px-2 py-1 rounded">
            <span class="text-emerald-500">Active</span>
          </div>
          <!-- <span class="text-red-500">Inactive</span> -->
          <!-- <span class="text-green-500" *ngIf="candidate.isActive">Active</span>
            <span class="text-red-500" *ngIf="!candidate.isActive">Inactive</span> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
