<div class="max-w-7xl mx-auto mt-8 pb-24">
  <h2 class="mt-2 text-2xl font-semibold">Candidates List</h2>

  <table class="mt-4 w-full rounded-3xl table-auto">
    <thead class="bg-slate-500 text-white">
      <tr>
        <th class="px-4 py-2 font-medium">S.No</th>
        <th class="px-4 py-2 font-medium">Name</th>
        <th class="px-4 py-2 font-medium">Email</th>
        <th class="px-4 py-2 font-medium">Skills</th>
        <th class="px-4 py-2 font-medium">Active Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let candidate of candidates; let i = index">
        <tr *ngIf="candidate.email.toLowerCase() !== 'admin@gmail.com'">
          <td class="border px-4 py-2 w-[5%]">{{ i + 1 }}.</td>
          <td class="border px-4 py-2">{{ candidate.name }}</td>
          <td class="border px-4 py-2">{{ candidate.email }}</td>
          <td class="border px-4 py-2">{{ candidate.skills }}</td>
          <td class="border px-4 py-2">
            <div class="bg-emerald-100 w-fit px-2 py-1 rounded">
              <span class="text-emerald-500">Active</span>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
