<form [formGroup]="jobForm">
  <div class="w-[60vw] mb-20 mx-auto mt-8 border p-4 rounded">
    <h2 class="text-2xl font-semibold mb-4">Job Posting Form</h2>

    <!-- Job Title -->
    <div class="mb-4">
      <label for="title" class="block text-gray-600">Job Title</label>
      <input
        formControlName="title"
        id="title"
        type="text"
        class="form-input mt-2 block w-[30vw] outline-none border rounded-lg focus:border-gray-500 p-2"
        required
      />
    </div>

    <!-- Company Name -->
    <div class="mb-4">
      <label for="department" class="block text-gray-600">Company Name</label>
      <input
        formControlName="department"
        id="department"
        type="text"
        class="form-input mt-2 block w-[30vw] outline-none border rounded-lg focus:border-gray-500 p-2"
        required
      />
    </div>

    <!-- Description -->
    <div class="mb-4">
      <label for="description" class="block text-gray-600">Description</label>
      <textarea
        formControlName="description"
        id="description"
        type="text"
        class="form-input mt-2 block w-[30vw] outline-none border rounded-lg focus:border-gray-500 p-2"
        required
      ></textarea>
    </div>

    <!-- Joining Date -->
    <div class="mb-4">
      <label for="startDate" class="block text-gray-600">Joining Date</label>
      <input
        formControlName="startDate"
        id="startDate"
        type="text"
        class="form-input mt-2 block w-fit outline-none border rounded-lg focus:border-gray-500 p-2"
        required
      />
    </div>

    <!-- Salary -->
    <div class="mb-4">
      <label for="salary" class="block text-gray-600">Salary</label>
      <input
        formControlName="salary"
        id="salary"
        type="number"
        class="form-input mt-2 block w-[30vw] outline-none border rounded-lg focus:border-gray-500 p-2"
        required
      />
    </div>

    <!-- Experience -->
    <div class="mb-4">
      <label for="experienceRequired" class="block text-gray-600"
        > Experience (Years)</label
      >
      <input
        formControlName="experienceRequired"
        id="experienceRequired"
        type="number"
        class="form-input mt-2 block w-[30vw] outline-none border rounded-lg focus:border-gray-500 p-2"
        required
      />
    </div>

    <!-- Submit Button -->
    <div class="mt-16">
      <button
        type="button"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        (click)="Submit()"
      >
        Post Job
      </button>
    </div>
  </div>
</form>
